src/SoapCore.Tests/WsdlFromFile/WSDLInclude/xsd02.xml

<?xml version="1.0" encoding="utf-8"?>

<xs:schema elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/MyTestService"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.datacontract.org/2004/07/MyTestService">
  <xs:complexType name="MyServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyServiceFault" nillable="true" type="tns:MyServiceFault" />
</xs:schema>