src/SoapCore.Tests/WsdlFromFile/WSDLInclude/xsd00.xml

<?xml version="1.0" encoding="utf-8"?>

<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
  <xs:element name="MyTestMethod">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MyTestMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyTestMethodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>